h5{
    font-size: 60px;
    text-align: center;
}
h2{
    font-size: 20px;
    text-align: center;
}
body{
    text-align: center;
    background: url(/1661500019_1-kartinkin-net-p-fon-dlya-prezentatsii-nezhnii-krasivo-1.jpg) no-repeat center center fixed;
    background-size: cover;
}
p{
    font-size: 20px;
    text-align: center;
}